.swiper {
  width: 100%;
}

.swiper-slide {
  width: 240px;
}

@media (min-width: 768px) {
  .swiper-slide {
    width: 100%;
  }

}

.swiper-pagination {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}
